body{
    background-color: #F7Ecde;
    
}
 h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #352e28;

}
h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 0px;
    background-color: #fec260;
    transition: height .2s;
    z-index: -1;
}

.section1{
    border:   3px dotted;
    border-color:black transparent;
}
.section1 h2{
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.error{
    color: red;
}
p::before{
    content: "*";
}